 .layui-bg-black {
     background-color: #f5222d!important;
 }
 
 .layui-layout-admin .layui-footer {
     box-shadow: -1px 0 4px rgb(0 0 0 / 12%);
     background-color: #FAFAFA;
 }
 
 .layui-layout-admin .layui-logo {
     box-shadow: 0 1px 2px 0 rgb(0 0 0 / 15%);
 }
 
 .layui-layout-admin .layui-header {
     background-color: #f5222d;
 }
 
 .btn {
     background-color: #f5222d;
 }
 
 .nav2 a {
     color: black;
 }
 
 .nav2 a:hover {
     color: #f5222d;
 }
 
 .welcome {
     color: #fff;
 }
 
 .layui-side-scroll ul :hover {
     color: brown;
     background-color: #fff1f0;
 }
 
 .layui-side-scroll ul li a {
     color: #ffff;
 }
 
 .iconfont {
     font-size: 22px;
 }