    .iconfont {
        font-family: "iconfont" !important;
        font-size: 20px;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    
    * {
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
        font-family: '微软雅黑';
    }
    
    body {
        position: relative;
        width: 1519px;
    }
    /*顶部黑条*/
    
    .top {
        position: fixed;
        top: 0%;
        z-index: 10;
        width: 100%;
        height: 61px;
        line-height: 61px;
        font-size: 20px;
        color: rgb(255, 255, 255);
        background-color: #393d49;
    }
    
    .layui-nav {
        background-color: #393d49;
    }
    
    .top_left {
        display: inline;
        margin-left: 40px;
    }
    
    .top_right {
        float: right;
        display: inline;
        margin-right: 60px;
    }
    /*主题展示页左侧导航栏，右侧显示页*/
    
    .index_left {
        position: fixed;
        top: 61px;
        float: left;
        width: 18%;
        height: 100%;
        background-color: #24262F
    }
    
    .navigation {
        margin-top: 40px;
    }
    
    .index_left ul li {
        font-size: 20px;
        text-align: center;
        padding: 20px 0;
    }
    
    .index_left ul :hover {
        color: brown;
        background-color: #009688;
    }
    
    .index_left ul li a {
        color: #ffff;
    }
    
    .index_right {
        position: absolute;
        top: 61px;
        left: 18%;
        float: left;
        width: 82%;
        background-color: #f0f0f0;
    }
    /*浏览足迹模块起始======================================================================*/
    
    .index_right_nav {
        width: 1200px;
        height: 30px;
        line-height: 30px;
        margin-left: 20px;
        margin-top: 10px;
        padding-left: 20px;
        background-color: #fff;
        box-shadow: 0 5px 10px #ddd;
    }
    /*浏览足迹模块结束======================================================================*/
    /*底部样式*/
    
    .footer {
        position: absolute;
        top: 711px;
        left: 18%;
        width: 82%;
        height: 130px;
        background-color: #f0f0f0;
    }
    
    .footer p {
        margin-top: 15px;
        text-align: center;
        font-size: 18px;
        line-height: 22px;
        height: 22px;
        color: #999;
    }